:root {
    --primary: #2c3e50;
    --accent: #6c63ff;
    --gradient-bg: linear-gradient(to right, #6c63ff, #7b68ee, #a067e3);
    --text: #333;
}


* /* ini adalah reset css yang artinya semua elemen HTML */ {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f4f6fa;
    color: var(--text);
}

/*Desain Bagian Header*/
header{
    background-image: var(--gradient-bg);
    color: white;
    padding: 80px 20px;
    text-align: center;
}

header h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 15px;
}

header p{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/*Desain Tombol cta-btn*/
.cta-btn{
    background-color: white;
    color: var(--accent);
    padding: 12px 24px;
    border-radius: 30px;
    border-style: none;
    font-size: 1rem;
    font-weight: 600;
}

.cta-btn:hover{
    background-color: #ddd;
}

/*Desain section konten*/
section{
    padding: 60px;
    max-width: 1100px;
    text-align: center;
    margin: auto;
}   

section h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary);
}

section p{
    font-size: 1.1rem;
    margin-bottom: 30px;
    max-width: 800px;
    margin: auto;
}

/*Tambahkan border pada section aktivitas*/
.activities{
    border-top: 1px dashed gray;
   
}

/*Buat Grid Aktivitas*/
.activities .activity-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.activities .activity{
    background-color: white;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.activity:hover{
    transition: 0.2s;
    transform: translateY(-5px);
}

.activities .activity i{
    font-size: 2.5rem;
    color: var(--accent);
}
.activities .activity h3{
    font-size: 1.3rem;
    color: var(--primary);
}

/*Desain Footer*/
footer{
    background-color: #222;
    color: #bbb;
    text-align: center;
    padding: 30px 20px;
    margin-top: 40px;
}

@media (max-width: 768px){
    header h1{
        font-size: 2.2rem;
    }
    section p{
        font-size: 1rem;
    }
}